@use "../base/colors" as c;

.t-card {
  justify-content: center;
  height: 240px;
  width: 360px;
  border: solid 2px c.$green-dark;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 2px 2px 4px #808080;
  margin: 2rem;
  color: black;

  &-text {
    font-family: "Roboto";
    font-style: normal;
    font-size: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &-title {
    font-family: "Roboto";
    font-style: bold;
    font-size: 1.2rem;
    padding: 0.4rem 0 0.4rem 0;
  }

  &-selected {
    border: solid 4px c.$green-light;
    box-shadow: 4px 4px 6px #808080;
  }
}

.t-card-image {
  border: 2px solid #be4e41;
  border-radius: 4px;
  height: 96px;
  width: 96px;
  margin: 8px 0 8px 0;
  object-fit: cover;
}

.t-difficulty-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  //   padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  font-weight: 200;
  background-color: bisque;
  text-transform: capitalize;

  &-beginner {
    background-color: #f8f82c;
  }

  &-professional {
    background-color: #afff6c;
  }

  &-classic {
    background-color: #b47c;
  }

  &-amateur {
    background-color: #6c4ae7cc;
  }
}

.squad-card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 8px;
  border: 4px solid c.$green-paste;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;

  &-img {
    position: relative;
    width: 18rem;
    height: 14rem;
    object-fit: cover;
    text-align: center;
  }

  &-diff {
    font-size: x-small;
    text-align: center;
    padding: 0px 5px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
  }

  &-name {
    font-weight: 500;
    font-size: 1.2rem;
  }

  &-kit {
    font-family: "Passero One";
    font-size: 1.4rem;
    left: 16px;
  }

  &-position {
    font-size: 1rem;
  }
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: rgb(33, 34, 49, 0.7);
  border-radius: 0.2rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: rgb(33, 34, 49, 0.7);
  border-radius: 0.2rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgb(33, 34, 49, 0.7);
  border-radius: 0.2rem;
  padding: 0.5rem;
}

/* Centered text */
.centered {
  margin: 0;
  /* background: yellow; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.bottom-centered {
  /* position: absolute; */
  /* right: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  bottom: 8px;
  transform: translate(50%);
  /* color: #217075; */
  font-weight: 1000;
  font-size: 20px;
  /* align-items: center; */
}

.next-bottom-centered {
  /* position: absolute; */
  /* right: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* bottom: 8px; */
  /* transform: translate(50%); */
  color: #f9fff9;
  font-weight: 1000;
  font-size: 20px;
  /* align-items: center; */
}

.positions {
  list-style-type: none;
}

.popup-content {
  border: none !important;
  padding: 0px !important;
  background-color: rgb(255, 255, 255, 0) !important;
}

.popup-card {
  background-color: #212230;
  border-radius: 8px;
  color: white;

  &-img {
    border: solid 2px c.$maroon-light;
    border-radius: 4px;
    margin: 8px;
    width: 40%;
    height: auto;
  }

  &-table {
    padding: 4px;
    margin: 4px;
  }

  &-table-label {
    font-weight: bold;
    margin: 2px 8px 2px 8px;
    color: #c4c4c4;
  }

  &-table-value {
    font-family: "Passero One";
    font-size: 1.2rem;
  }
}
