@use '../base/colors' as c;

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem hsla(145, 100%, 39%, 0.25);
}

.img-thumbnail {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border-color: c.$maroon-dark;
}

.form-check-input:checked {
  background-color: c.$green-light;
  border-color: c.$green-light;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 64px;
  border: 2px solid c.$green-dark;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  color: black;
}

#processing {
  background-color: #ffff8d;
}

#accepted {
  background-color: #48e78a;
}

#rejected {
  background-color: #f27b7b;
}

.status-label {
  color: #6d6e78;
  font-size: 16px;
}

.status-value {
  font-size: 32px;
}
