.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // justify-content: center;
  // align-items: center;
  height: 100vh;
  min-width: 12rem;
  // min-width: 300px;
  background-color: #212230;
  color: #eeeeee;
  overflow-y: auto;
}

.sidebar-name {
  padding: 1rem 0 1rem 0;
  font-weight: 500;
  align-self: center;
}

.sidebar-list {
  height: auto;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.sidebar-row {
  width: auto;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 10px 0 10px 0;
  font-family: "Roboto";
  transition: all 0.2s ease 0s;
}

.sidebar-row:hover {
  background-color: rgb(55, 55, 116);
  border-radius: 20px;
  color: rgb(83, 182, 83);
  text-decoration: none;
  transform: scale(0.92);
}

.sidebar-line {
  background-color: #359b37;
  height: 0.6rem;
}
