body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*swapnils
swapnils
swapnils
*/

.cell {
  border-radius: 5%;
  border-color: blue;
  height: 80px;
  width: 120px;
  overflow: hidden;
}

.selectedborderless {
  border: 0px;
  background-color: white;
}

.selected0 {
  border-color: black;
}

.selected1 {
  border-color: brown;
}

.selected2 {
  border-color: green;
}

.selected3 {
  border-color: grey;
}

.selected4 {
  border-color: orange;
}

.details {
  height: 100%;
  width: 70%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  border-radius: 1%;
  border: 2px solid green;
}

.tableheader {
  /* background-color: rgb(197, 196, 196); */
  border: none;
}

.tablebody {
  width: 10%;
  height: 100%;
  border: 2px solid rgb(18, 146, 179);
  border-radius: 10%;
}

.tablerow {
  background-color: #ffdbe9;
}

.tablecolumn {
  border-radius: 1%;
  border-left: 1px solid rgb(99, 113, 240);
  border-right: 1px solid rgb(99, 113, 240);
}

.kit {
  width: 5%;
  border-radius: 1%;
  border: 1px solid rgb(99, 3, 3);
}

.img-training {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-color: #6a1c1c;
}

.board {
  width: 100%;
  height: 100%;
  background: black;
}

.sketch {
  width: 100%;
  height: 100%;
}

.canvasBox {
  border: 2px solid greenyellow;
}

.layerBox {
  width: 300px;
  height: 250px;
  border: 1px solid greenyellow;
}

.traineePopup {
  position: fixed;

  left: 25%;
  top: 15%;

  width: 50%;

  border: 1px solid #011627;
  border-radius: 1em;
  box-shadow: -2px 5px 5px #120249;

  background-color: #fdfffc;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: #011627;
}

.during-popup {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
  /* opacity: 0.5; */
}

.listLine {
  color: #359b37;
  /* height: 5px; */
}

.pu-content-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
}

.popup-x {
  background-color: #96f78f;
  width: 2.5em;
  height: 1.67em;

  border: none;
  border-top-right-radius: 1em;
  border-bottom: 1px solid black;
  border-left: 1px solid black;

  align-self: flex-end;
  justify-self: flex-start;
}
.popup-x:hover {
  background-color: #319629;
}

.createSession {
  background-color: #033300;
  color: white;
  /* background-color: #96f78f; */
  border: 2px solid #daf8d7;
  border-radius: 20px;
  /* text-transform: uppercase; */
  padding: 0.5em 1em;
  margin: 1.5em 0em;
  /* margin-right: 2em; */
  font-size: 1.25em;
}

.createSession:hover {
  background-color: #319629;
  border: 5px solid #033300;
}

.listScroll {
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style-type: "none";
  height: "100%";
}

::-webkit-scrollbar {
  color: rgb(83, 182, 83);
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
