.bg-gray {
  background-color: gray;
}

/* other formats include: 'woff2', 'truetype, 'opentype', 'embedded-opentype', and 'svg' */
@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa"), url("/src/fonts/comfortaa/static/Comfortaa-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Passero One";
  src: local("PasseroOne"), url("/src/fonts/passero-one/PasseroOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.navbar {
  background-color: #217075;
  position: sticky;
  transition: top 0.5s ease;
}

.navbar-image {
  object-fit: cover;
  border-color: #6a1c1c;
  border: solid #be4e41 1px;
  border-radius: 8px;
}
.navbar-image-manager {
  width: 140px;
  height: 65px;
}
.navbar-image-player {
  width: 70px;
  height: 70px;
}

.navbar-hide {
  top: -56px;
}

.nav-button {
  width: 100px;
  height: 45px;
  /* padding: 15px; */
  font-family: "Roboto";
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.nav-button:hover {
  /* background-color: #ffffff; */
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  /* color: #f0925c; */
  /* transform: scale(0.92); */
  transform: scale(0.92) translateY(-7px);
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px 20px 0px 20px;
}

.logout:hover {
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
}

.username {
  text-align: center;
  font-family: roboto;
  font-weight: 500;
  margin: 8px;
  border-radius: 8px;
  color: white;
  text-transform: capitalize;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  min-width: 12rem;
  background-color: #212230;
  color: #eeeeee;
  overflow-y: auto;
}

.sidebar-name {
  padding: 1rem 0 1rem 0;
  font-weight: 500;
  align-self: center;
}

.sidebar-list {
  height: auto;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.sidebar-row {
  width: auto;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 10px 0 10px 0;
  font-family: "Roboto";
  transition: all 0.2s ease 0s;
}

.sidebar-row:hover {
  background-color: #373774;
  border-radius: 20px;
  color: #53b653;
  text-decoration: none;
  transform: scale(0.92);
}

.sidebar-line {
  background-color: #359b37;
  height: 0.6rem;
}

.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(0, 199, 83, 0.25);
}

.img-thumbnail {
  width: 240px;
  height: 240px;
  object-fit: cover;
  border: solid 2px #79352d;
}

.form-check-input:checked {
  background-color: #00c853;
  border-color: #00c853;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 148px;
  height: 64px;
  border: 2px solid #00251a;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  color: black;
}

#processing {
  background-color: #ffff8d;
}

#accepted {
  background-color: #48e78a;
}

#rejected {
  background-color: #f27b7b;
}

.status-label {
  color: #6d6e78;
  font-size: 16px;
}

.status-value {
  font-size: 32px;
}

.t-card {
  justify-content: center;
  height: 240px;
  width: 100%;
  border: solid 2px #00251a;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 2px 2px 4px #808080;
  margin: 2rem;
  color: black;
  cursor: pointer;
  transition: 0.6s ease;
}
.t-card-text {
  font-family: "Roboto";
  font-style: normal;
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.t-card-title {
  font-family: "Roboto";
  font-style: bold;
  font-size: 1.2rem;
  padding: 0.4rem 0 0.4rem 0;
}
.t-card-selected {
  border: solid 4px #00c853;
  box-shadow: 4px 4px 6px #808080;
}
.t-card:hover {
  transition: 0.6s ease;
  transform: scale(0.96);
  box-shadow: 4px 4px 8px #808080;
}

.t-card-image {
  border: 2px solid #be4e41;
  border-radius: 4px;
  height: 96px;
  width: 96px;
  margin: 8px 0 8px 0;
  object-fit: cover;
}

.t-difficulty-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 1rem;
  font-weight: 200;
  background-color: bisque;
  text-transform: capitalize;
}
.t-difficulty-badge-beginner {
  background-color: #f8f82c;
}
.t-difficulty-badge-professional {
  background-color: #afff6c;
}
.t-difficulty-badge-classic {
  background-color: #b47c;
}
.t-difficulty-badge-amateur {
  background-color: #6c4ae7cc;
}

.squad-card {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 8px;
  border: 4px solid #217075;
  border-radius: 8px;
  color: white;
  text-transform: capitalize;
}
.squad-card-img {
  position: relative;
  width: 18rem;
  height: 14rem;
  object-fit: cover;
  text-align: center;
}
.squad-card-diff {
  font-size: x-small;
  text-align: center;
  padding: 0px 5px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
}
.squad-card-name {
  font-weight: 500;
  font-size: 1.2rem;
}
.squad-card-kit {
  font-family: "Passero One";
  font-size: 1.4rem;
  left: 16px;
}
.squad-card-position {
  font-size: 1rem;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: rgba(33, 34, 49, 0.7);
  border-radius: 0.2rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: rgba(33, 34, 49, 0.7);
  border-radius: 0.2rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(33, 34, 49, 0.7);
  border-radius: 0.2rem;
  padding: 0.5rem;
}

/* Centered text */
.centered {
  margin: 0;
  /* background: yellow; */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.bottom-centered {
  /* position: absolute; */
  /* right: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  bottom: 8px;
  transform: translate(50%);
  /* color: #217075; */
  font-weight: 1000;
  font-size: 20px;
  /* align-items: center; */
}

.next-bottom-centered {
  /* position: absolute; */
  /* right: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  /* bottom: 8px; */
  /* transform: translate(50%); */
  color: #f9fff9;
  font-weight: 1000;
  font-size: 20px;
  /* align-items: center; */
}

.positions {
  list-style-type: none;
}

.popup-content {
  border: none !important;
  padding: 0px !important;
  background-color: rgba(255, 255, 255, 0) !important;
}

.popup-card {
  background-color: #212230;
  border-radius: 8px;
  color: white;
}
.popup-card-img {
  border: solid 2px #be4e41;
  border-radius: 4px;
  margin: 8px;
  width: 40%;
  height: auto;
}
.popup-card-table {
  padding: 4px;
  margin: 4px;
}
.popup-card-table-label {
  font-weight: bold;
  margin: 2px 8px 2px 8px;
  color: #c4c4c4;
}
.popup-card-table-value {
  font-family: "Passero One";
  font-size: 1.2rem;
}

.btn-maroon {
  color: #ffffff;
  background-color: #6a1c1c;
  border-color: #6a1c1c;
}
.btn-maroon:hover, .btn-maroon:focus, .btn-maroon:active, .btn-maroon.active,
.btn-maroon .open .dropdown-toggle.btn-maroon {
  color: #ffffff;
  background-color: #6a1c1c;
  border-color: #6a1c1c;
}
.btn-maroon:active, .btn-maroon.active,
.btn-maroon .open .dropdown-toggle.btn-maroon {
  background-image: none;
}
.btn-maroon.disabled, .btn-maroon[disabled], fieldset[disabled] .btn-maroon, .btn-maroon.disabled:hover, .btn-maroon[disabled]:hover, fieldset[disabled] .btn-maroon:hover, .btn-maroon.disabled:focus, .btn-maroon[disabled]:focus, fieldset[disabled] .btn-maroon:focus, .btn-maroon.disabled:active, .btn-maroon[disabled]:active, fieldset[disabled] .btn-maroon:active, .btn-maroon.disabled.active, .btn-maroon[disabled].active, fieldset[disabled] .btn-maroon.active {
  background-color: #6a1c1c;
  border-color: #6a1c1c;
}
.btn-maroon .badge {
  color: #6a1c1c;
  background-color: #ffffff;
}

.btn-green-dark {
  color: #f3f3f3;
  background-color: #034732;
  border-color: #034732;
}
.btn-green-dark:hover, .btn-green-dark:focus, .btn-green-dark:active, .btn-green-dark.active,
.btn-green-dark .open .dropdown-toggle.btn-green-dark {
  color: #f3f3f3;
  background-color: #034732;
  border-color: #034732;
}
.btn-green-dark:active, .btn-green-dark.active,
.btn-green-dark .open .dropdown-toggle.btn-green-dark {
  background-image: none;
}
.btn-green-dark.disabled, .btn-green-dark[disabled], fieldset[disabled] .btn-green-dark, .btn-green-dark.disabled:hover, .btn-green-dark[disabled]:hover, fieldset[disabled] .btn-green-dark:hover, .btn-green-dark.disabled:focus, .btn-green-dark[disabled]:focus, fieldset[disabled] .btn-green-dark:focus, .btn-green-dark.disabled:active, .btn-green-dark[disabled]:active, fieldset[disabled] .btn-green-dark:active, .btn-green-dark.disabled.active, .btn-green-dark[disabled].active, fieldset[disabled] .btn-green-dark.active {
  background-color: #034732;
  border-color: #034732;
}
.btn-green-dark .badge {
  color: #034732;
  background-color: #f3f3f3;
}

.btn-violet {
  color: #ffffff;
  background-color: #3b55dd;
  border-color: #3b55dd;
}
.btn-violet:hover, .btn-violet:focus, .btn-violet:active, .btn-violet.active,
.btn-violet .open .dropdown-toggle.btn-violet {
  color: #ffffff;
  background-color: #3b55dd;
  border-color: #3b55dd;
}
.btn-violet:active, .btn-violet.active,
.btn-violet .open .dropdown-toggle.btn-violet {
  background-image: none;
}
.btn-violet.disabled, .btn-violet[disabled], fieldset[disabled] .btn-violet, .btn-violet.disabled:hover, .btn-violet[disabled]:hover, fieldset[disabled] .btn-violet:hover, .btn-violet.disabled:focus, .btn-violet[disabled]:focus, fieldset[disabled] .btn-violet:focus, .btn-violet.disabled:active, .btn-violet[disabled]:active, fieldset[disabled] .btn-violet:active, .btn-violet.disabled.active, .btn-violet[disabled].active, fieldset[disabled] .btn-violet.active {
  background-color: #3b55dd;
  border-color: #3b55dd;
}
.btn-violet .badge {
  color: #3b55dd;
  background-color: #ffffff;
}

.squad-table {
  border-radius: 16px;
  border-spacing: 0;
  border-collapse: separate;
  font: normal 16px "Passero One", Roboto;
  cursor: pointer;
}
.squad-table-caption {
  font: bold 20px "Passero One";
  color: #585858;
}
.squad-table thead th {
  background-color: #ddefef;
  border: solid 1px #ddeeee;
  color: #336b6b;
  padding: 10px;
  text-align: left;
  text-shadow: 1px 1px 1px #c8c8c8;
}
.squad-table tbody td {
  outline: none;
  color: #000000;
  padding: 10px;
  border-left: none;
  border-right: none;
}
.squad-table tbody tr:hover {
  background-color: #00c85381;
}
.squad-table th:first-child {
  border-radius: 16px 0 0 0;
}
.squad-table th:last-child {
  border-radius: 0 16px 0 0;
}

.squad-table-green {
  border: 2px solid #003322;
}
.squad-table-green thead th {
  background-color: #7ab8a3;
  border: solid 1px #7ab8a3;
  color: #14523d;
}
.squad-table-green tbody tr:hover {
  background-color: rgba(51, 255, 129, 0.75);
}
.squad-table-green tbody tr:hover td:first-child {
  border-bottom-left-radius: 16px;
}
.squad-table-green tbody tr:hover td:last-child {
  border-bottom-right-radius: 16px;
}

.selected-green {
  background-color: #00ff6a;
}
.selected-green td:first-child {
  border-bottom-left-radius: 16px;
}
.selected-green td:last-child {
  border-bottom-right-radius: 16px;
}

.squad-table-maroon {
  border: 2px solid #7b342d;
}
.squad-table-maroon thead th {
  background-color: #b8807a;
  border: solid 1px #b8807a;
  color: #521a14;
}
.squad-table-maroon tbody tr:hover {
  background-color: rgba(255, 68, 51, 0.75);
}
.squad-table-maroon tbody tr:hover td:first-child {
  border-bottom-left-radius: 16px;
}
.squad-table-maroon tbody tr:hover td:last-child {
  border-bottom-right-radius: 16px;
}

.selected-maroon {
  background-color: #ff4433;
}
.selected-maroon td:first-child {
  border-bottom-left-radius: 16px;
}
.selected-maroon td:last-child {
  border-bottom-right-radius: 16px;
}

.squad-table-violet {
  border: 2px solid #561cba;
}
.squad-table-violet thead th {
  background-color: #917ab8;
  border: solid 1px #917ab8;
  color: #290d59;
}
.squad-table-violet tbody tr:hover {
  background-color: #dd9afe;
}
.squad-table-violet tbody tr:hover td:first-child {
  border-bottom-left-radius: 16px;
}
.squad-table-violet tbody tr:hover td:last-child {
  border-bottom-right-radius: 16px;
}

.selected-violet {
  background-color: #be99ff;
}
.selected-violet td:first-child {
  border-bottom-left-radius: 16px;
}
.selected-violet td:last-child {
  border-bottom-right-radius: 16px;
}

.evaluation-table {
  width: 100%;
  font: normal 16px "Passero One", Roboto;
  cursor: pointer;
  margin: 16px;
  border: solid 2px #561cba;
}
.evaluation-table thead th {
  text-align: center;
  color: #585858;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.evaluation-table tbody td {
  text-align: center;
  padding: 0.4rem;
}
.evaluation-table tbody tr:nth-child(odd) {
  background-color: #ffd3cd;
}

.evaluation-marks-input:focus {
  outline-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(0, 200, 83, 0.25);
}

.sidebar-table-label {
  padding: 0.5rem;
  margin: 0.25rem 0.5rem 0.25rem 0.5rem;
  color: #aaaaaa;
}
.sidebar-table-value {
  margin: 0.25rem 1rem 0.25rem 0.5rem;
  color: #dddddd;
  font-family: "Passero One";
  word-wrap: break-word;
}

.recruit-table {
  cursor: pointer;
}

.trainee-table {
  cursor: pointer;
}
.trainee-table tbody tr:hover {
  background-color: rgba(128, 255, 176, 0.75);
}

.field-container {
  width: 512px;
  height: 775px;
  border: none;
  position: relative;
}

.main-field-dummy {
  width: 472px;
  height: 735px;
  position: absolute;
  margin: 20px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  position: absolute;
  cursor: pointer;
  background-image: url(/src/assets/images/player.svg);
  z-index: 4;
}
.player:hover {
  background-image: url(/src/assets/images/player-pink.svg);
}

.green {
  background-image: url(/src/assets/images/player-green.svg);
}

.violet {
  background-image: url(/src/assets/images/player-violet.svg);
}

.kit-no {
  position: absolute;
  font-family: "Passero One";
  font-size: 14px;
  color: white;
  z-index: 6;
}

.i-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: solid 2px #3e3bdd;
  border-radius: 8px;
  min-width: 40%;
  max-width: 100%;
  min-height: 20vh;
  max-height: 60%;
  padding: 0.6rem;
  margin: 1rem;
}

.i-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.i-badge {
  border-radius: 16px;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  margin: 0.4rem;
  background-color: #f0fdfb;
  box-shadow: 2px 2px 4px #808080;
  min-height: 2.2rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.i-badge-selected {
  font-size: 1.2rem;
  animation-name: popup;
  animation-duration: 200ms;
  box-shadow: 6px 6px 8px #808080;
}
.i-badge-record {
  padding: 0.1rem;
  width: 300px;
}

.i-input {
  display: block;
  overflow: hidden;
  resize: none;
  border: none;
  border-bottom: solid 1px #212230;
  background-color: #f0fdfb;
  max-width: 100%;
}
.i-input:focus {
  outline: #212230;
}

@keyframes popup {
  0% {
    box-shadow: 2px 2px 4px #808080;
  }
  100% {
    box-shadow: 6px 6px 8px #808080;
    transform: translateY(-2px);
  }
}
.command-pallette {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0.5rem;
  padding: 0.5rem;
  border: solid 1px #be4e41;
  border-radius: 3rem;
}

.btn-cmd {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;
  margin: 0.5rem;
  box-shadow: 2px 2px 4px #808080;
  background-color: #212230;
  cursor: pointer;
}
.btn-cmd:active {
  box-shadow: 1px 1px 2px #808080;
  transform: translateY(1px);
}
.btn-cmd:hover {
  background-color: #034732;
}
.btn-cmd:disabled {
  background-color: #52535a;
}
.btn-cmd-square {
  border-radius: 0.375rem;
}
.btn-cmd-mini {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.5rem;
  font-size: 0.8rem;
}
.btn-cmd-add:hover {
  background-color: #0288d1;
}
.btn-cmd-edit:hover {
  background-color: #571cba;
}
.btn-cmd-delete:hover {
  background-color: red;
}
.btn-cmd-record:hover {
  background-color: #79352d;
}
.btn-cmd-check:hover {
  background-color: #00c853;
}

.fa-icon-white {
  color: #fff;
}

.recorder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 80%;
}
.recorder-timer-box {
  background-color: red;
  color: white;
  padding: 0.4rem 0.6rem 0.4rem 0.6rem;
  border-radius: 2rem;
}
.recorder-timer-font {
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.audio-player {
  width: 100%;
}
.audio-player audio {
  width: 100%;
}

.btn-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  padding: 0.4rem;
  font-family: "Passero One";
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  border: 4px solid #034732;
  border-radius: 0.4rem;
  box-shadow: 2px 2px 4px #808080;
  cursor: pointer;
}
.btn-badge:active {
  box-shadow: 1px 1px 2px #808080;
  transform: translateY(1px);
}
.btn-badge-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.4rem;
  margin: 0.2rem;
  color: white;
  background-color: #00c853;
}

.formation-select select {
  font-size: 1.2rem;
  padding: 0.6rem;
  font-family: "Passero One";
  font-weight: normal;
  font-style: normal;
  border: 4px solid #217075;
  border-radius: 1.2rem;
  background-color: #212230;
  color: #f0fdfb;
  outline: none;
}

.notif-badge:hover {
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  color: #f0925c;
}

.box {
  margin: 0 auto;
  width: 40px;
  height: 100px;
  position: relative;
}
.box .shadow {
  position: absolute;
  width: 100%;
  height: 10px;
  background-color: grey;
  bottom: 0;
  border-radius: 100%;
  transform: scaleX(0.8);
  opacity: 0.6;
  animation: shadowScale 1s linear infinite;
}

.gravity {
  width: 40px;
  height: 0px;
  animation: bounce 1s cubic-bezier(0.68, 0.35, 0.29, 0.54) infinite;
}

.ball {
  width: 40px;
  height: 40px;
  background-image: url("https://image.flaticon.com/icons/svg/33/33736.svg");
  background-size: cover;
  animation: roll 0.6s linear infinite;
}

@keyframes roll {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  50% {
    transform: translateY(60px);
  }
}
@keyframes shadowScale {
  50% {
    transform: scaleX(1);
    opacity: 0.8;
  }
}
.category-line {
  color: #a8c3bc;
  border: 1px solid;
  border-radius: 5px;
}

.centered {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.session-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: "Passero One";
  font-size: 1.6rem;
  text-transform: capitalize;
}

.homepage-bgimage {
  background: url("../../assets/images/travel-nomades-JO19K0HDDXI-unsplash.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  background-color: #034732;
  border-radius: 16px;
  font-family: "Comfortaa", "Roboto";
  font-weight: normal;
  font-style: normal;
  color: #d3e1de;
}

#upload-thumbnail {
  position: absolute;
  display: none;
  z-index: 6;
}

.tr-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: auto;
  object-fit: cover;
}
.tr-thumbnail:hover #upload-thumbnail {
  display: block;
}

.tr-label {
  font-size: 0.6rem;
  font-weight: 300;
  color: gray;
  margin: 0 4px 0 4px;
  text-transform: capitalize;
}

.tr-value {
  font-size: 0.8rem;
  font-weight: 400;
  color: #212230;
  margin: 0 4px 0 4px;
  padding: 4px;
  text-transform: capitalize;
}

.tr-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

#tr-editor {
  border: 2px solid #212230;
  border-radius: 4px;
  margin: 8px;
  width: 99%;
  min-height: 260px;
}

#tr-view {
  margin: 8px;
}

.rdw-editor-main {
  margin-left: 16px;
  margin-right: 16px;
}

.wk-day {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11.2px;
  font-weight: 500;
  width: 28px;
  height: 28px;
  margin: 2.8px;
  padding: 2.8px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  background-color: #eee;
  color: #212230;
}
.wk-day-selected {
  background-color: #00c853;
  color: white;
}

.session {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  margin: 0.2rem 0.3rem 0.2rem 0.4rem;
  border-radius: 0.2rem;
  color: white;
}
.session-date {
  background-color: #79352d;
}
.session-time {
  background-color: #034732;
}

.schedule-popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  background-color: #fdfffc;
  border: none;
  border-radius: 8px;
  width: 50vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 4px 4px 4px #808080;
  z-index: 16;
}

.session-creation-instruction {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50%;
  padding: 0.5rem;
  border-radius: 1rem;
  font-weight: 300;
  background-color: #3e3bddcc;
  color: #ffffff;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}

.trainee-popup {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  width: 50%;
  background-color: #fdfffc;
  border-radius: 1rem;
  box-shadow: 4px 4px 8px #808080;
  z-index: 1;
}

.popup-x {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  background-color: #d32f2f;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.5rem;
  margin: 0.5rem 0.6rem 0.5rem 0.6rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 2px #808080;
  cursor: pointer;
}
.popup-x:active {
  transform: translateY(1px);
}

.trainee-list {
  max-height: 26rem;
  width: 75%;
  overflow: auto;
  border: double 4px #be4e41;
  border-radius: 4px;
  margin: 1rem !important;
  padding: 1rem;
}

.during-popup {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
}
