$green-dark: #00251a;
$green-primary: #034732;
$green-paste: #217075;
$green-light: #00c853;
$maroon-dark: #79352d;
$maroon-light: #be4e41;
$violet: #571cba;
$gray-dark: #212230;
$red: #d32f2f;

.bg-gray {
  background-color: gray;
}
