body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navButton {
  width: 100px;
  height: 45px;
  /* padding: 15px; */
  font-family: "Roboto";
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease 0s;
  cursor: pointer;
  outline: none;
}

.navButton:hover {
  /* background-color: #ffffff; */
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  /* color: #f0925c; */
  transform: translateY(-7px);
}

.logout:hover {
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
}

.notiBadge:hover {
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  color: #f0925c;
}

.sideBar {
  height: 100vh;
  width: 200px;
  background-color: #212230;
}

.sideBarList {
  height: auto;
  width: 100%;
  padding: 0;
}

.sideBarList .Row {
  width: auto;
  list-style-type: none;
  color: white;
  padding: 10px 0 10px 0;
  font-family: "Roboto";
  transition: all 0.2s ease 0s;
}

.sideBarList .Row:hover {
  background-color: rgb(22, 22, 119);
  text-decoration: none;
  transform: scale(0.92);
}

.sideBarLine {
  color: #359b37;
  border: 5px solid #359b37;
  border-radius: 5px;
}
