body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navButton {
  width: 100px;
  height: 45px;
  /* padding: 15px; */
  font-family: "Roboto";
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease 0s;
  cursor: pointer;
  outline: none;
}

.navButton:hover {
  /* background-color: #ffffff; */
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  /* color: #f0925c; */
  transform: translateY(-7px);
}

.logout:hover {
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  /* box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); */
}

.notiBadge:hover {
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  color: #f0925c;
}

.sideBar {
  height: 100vh;
  width: 200px;
  background-color: #212230;
}

.sideBarList {
  height: auto;
  width: 100%;
  padding: 0;
}

.sideBarRow {
  width: auto;
  list-style-type: none;
  color: white;
  padding: 10px 0 10px 0;
  font-family: "Roboto";
  transition: all 0.2s ease 0s;
}

.sideBarRow:hover {
  background-color: rgb(55, 55, 116);
  border-radius: 20px;
  color: rgb(83, 182, 83);
  text-decoration: none;
  transform: scale(0.92);
}

.sideBarLine {
  color: #359b37;
  border: 5px solid #359b37;
  border-radius: 5px;
}

.cardStyle {
  border: 4px solid black;
  border-radius: 5px;
  height: 100%;
  /* padding: 0px 5px 0px 5px; */
  /* height: 350px; */
  /* width: 100%; */
  text-align: left;
}

.cardImage {
  border: 2px solid #be4e41;
  border-radius: 5px;
  max-width: 100%;
  min-width: 100%;
  /* max-height: 100%; */
  min-height: 100%;
  /* display: block; */
  /* margin: 10px 0px; */
  /* width: 100%; */
}

.cardDiff {
  text-align: center;
  padding: 0px 5px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
}

.Beginner {
  background-color: #f8f82c;
}

.Intermediate {
  background-color: #afff6c;
}

.Advanced {
  background-color: #b47c;
}

.cardDesc {
  font-size: small;
  /* padding: 2px 15px; */
  margin: 0px;
  border: 0px;

  /* position: absolute;
  left: 0; */
  /* padding: 0px; */
}

.line-clamp {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.categoryLine {
  color: #a8c3bc;
  border: 1px solid;
  border-radius: 5px;
}
