@use '../base/colors' as c;

.homepage-bgimage {
  background: url("../../assets/images/travel-nomades-JO19K0HDDXI-unsplash.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  background-color: c.$green-primary;
  border-radius: 16px;
  font-family: "Comfortaa", "Roboto";
  font-weight: normal;
  font-style: normal;
  color: #d3e1de;
}
